/* by e-coucou */

@import url(//fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b);

html {
  min-width: 1160px;
}
.rky body {
  background: #f588fa;
  color: #789;
  font-family: "PT Serif", serif;
  margin: 1em auto 4em auto;
  position: relative;
  width: 1080px;
  top:50px;
}
/* define header,footer, aside ...*/
.rky header {
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height: 50px;
    z-index: 10;
    background: #b0c4de; /*add8e6; /*f0f8FF;*/
}
.rky header,
.rky footer,
.rky aside,
.rky h1,{
  font-family: "PT Sans", sans-serif;
}
.rky header aside {
    margin-left: 50px;
}
.rky h1 {
  color: #191970;
}
.rky header,
.rky footer,
.rky aside {
  color: #2f4f4f;
}
h1 {
  font-size: 34px;
  font-weight: 200;
  letter-spacing: 0px;
  margin: .3em 0 .1em 0;
  text-rendering: optimizeLegibility;
}
.rky aside,
.rky footer {
  font-size: small;
  float: left;
  margin-right: 0.8em;
}
.rky header aside:after,
.rky footer aside:after {
  padding-left: .5em;
  content: "|";
}
.rky footer {
  margin-top: 5em;
}
h1 ~ aside {
  font-size: small;
  right: 0;
  position: absolute;
  width: 200px;
}
.attribution {
  font-size: small;
  margin-bottom: 2em;
}
body > p, li > p {
  line-height: 1.5em;
}
body > p {
  width: 720px;
}
body > blockquote {
  width: 640px;
}
blockquote q {
  display: block;
  font-style: oblique;
}
.rky a {
    color: #4169E1;
}
.rky a:not(:hover) {
  text-decoration: none;
}
pre, code, textarea {
  font-family: "Menlo", monospace;
}
code {
  line-height: 1em;
}
textarea {
  font-size: 100%;
}
body > pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
}
.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}
.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}
.comment {
  color: #636363;
}
.html .doctype,
.javascript .number {
  color: #31a354;
}
.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}
svg {
  font: 11px "helvetic neue";
}
.axis path, .axis line {
  fill: none;
  stroke: #191970;
  shape-rendering: crispEdges;
}
#twitter {
    position: absolute;
    right: 80px;
    top: 15px;
}

