@font-face {
  font-family: Edelsans;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/edelsans_regular-webfont.woff);
}
body { 
  margin: 0;
  font-family: Edelsans, Avenir, sans-serif;
}
.rky a {
    color: #1B2631;
    font-family: "helvetica neue";
    font-size: 3vh;
}
section { 
  height: 100vh; 
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  padding: 2vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  font-size: 4vw; 
}
section:first-of-type { 
  text-transform: uppercase;
  font-size: 7vw;
}
section:first-of-type, section.pop { 
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,0.4); 
}
section:nth-of-type(even) { 
  background: #F4F6F6;
  color: black;
}
section:nth-of-type(odd) { 
  color: white;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
}
section:nth-of-type(1) { 
  background-image: url(../images/IMG_5850.jpeg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;}
section:nth-of-type(3) { 
  background-image: url(../images/IMG_6039.jpeg); 
}
section:nth-of-type(5) { 
  background-image: url(../images/IMG_5962.jpeg); 
}
section:nth-of-type(7) { 
  background-image: url(../images/IMG_2449.jpeg); 
}
section:nth-of-type(9) { 
  background-image: url(../images/IMG_5978.jpg); 
}
section:nth-of-type(11) { 
  background-image: url(../images/IMG_0042.jpeg); 
}
section:nth-of-type(13) { 
  background-image: url(../images/IMG_5850.jpeg); 
}
